
  <form class="row g-3">
    <div  class="col-auto">
    <button (click)="getPosition()"  class="btn btn-primary mb-3">getCoord</button>
    </div>
    <div  class="col-auto">
  <button (click)="playPosition()"  class="btn btn-primary mb-3">Play</button>
    </div>
  </form>

Список маяков id idсистемы(номер) название тип модель производитель действующий(не списан)  

последние координаты трэкеров

последняя координата трэкера (когда наблюдаем только за одним)

 координаты трэкеров за период (когда рисуем трэк истории)

все неактивные трекеры за период


<div class="map-container">

<div class="map-frame">

  <div id="map"></div>

</div>

</div>